<section data-background-image="raton.png">

In [1]:
var = {"X" : 5., "z": 3.}
var

{'X': 5.0, 'z': 3.0}

In [2]:
var["X"]

5.0

In [5]:
import pandas as pd
data = pd.Series([4, 5, 6], index = ["X", "Y", "Z"])
data

X    4
Y    5
Z    6
dtype: int64

In [6]:
data.loc["X"]

4

In [7]:
2.e-3

0.002

In [156]:
import numpy as np
data = pd.DataFrame(np.random.rand(10,5), 
                    columns = ["Temperature [°C]", "age", "taille", "b", "c"], 
                    index = np.arange(10) + 1)
data.to_excel("data.xls")
data.to_hdf("data.h5", "truc")
data

    Temperature [°C]       age    taille         b         c
1           0.580180  0.881011  0.411444  0.143483  0.801802
2           0.427707  0.378846  0.075368  0.789509  0.777668
3           0.158508  0.354821  0.409810  0.043736  0.288903
4           0.520587  0.984050  0.494637  0.204726  0.476895
5           0.068063  0.109590  0.985898  0.686219  0.608714
6           0.999728  0.942931  0.919082  0.302734  0.921859
7           0.691631  0.283610  0.956040  0.267431  0.953278
8           0.569546  0.428021  0.301908  0.164397  0.498701
9           0.873257  0.241773  0.262002  0.628017  0.040458
10          0.151771  0.505770  0.605809  0.243592  0.874961

In [28]:
f = open("data.csv").read().replace(",", ";").replace(".", ",")
print(f)
open("data_trash.csv", "w").write(f)

;Temperature [°C];age;taille;b;c
1;0,6075302643;0,0472934529;0,2625317743;0,395335091;0,3470092358
2;0,3831804013;0,9745174962;0,1537617003;0,1163715236;0,4503862587
3;0,6833980409;0,4355507392;0,2613138685;0,0286849155;0,2903771463
4;0,9980863398;0,979128727;0,2444117426;0,9754179471;0,3805391649
5;0,6193367674;0,665730898;0,1795641208;0,1954414319;0,7465937193
6;0,7182199676;0,16576772;0,1130312103;0,6706266934;0,3350631854
7;0,0067624884;0,2945016429;0,7840844823;0,0138958148;0,7282769752
8;0,8903930914;0,4948619854;0,3479021739;0,3504912011;0,5091241236
9;0,9148397313;0,876170993;0,4856410605;0,8236435678;0,3756794537
10;0,8342159848;0,7230586272;0,9123748096;0,1239235738;0,550476417

697

In [154]:
data = pd.read_csv("data_trash.csv", 
            sep = ";", 
            index_col = 0).applymap(lambda s: float(s.replace(",", ".")) )

In [162]:
data.b += 5
data["Z"] = data.sum(axis = 1)
data.applymap(lambda x: "{0:.1e}".format(x))

   Temperature [°C]      age   taille        b        c        Z
1           5.8e-01  8.8e-01  4.1e-01  3.0e+01  8.0e-01  1.2e+02
2           4.3e-01  3.8e-01  7.5e-02  3.1e+01  7.8e-01  1.2e+02
3           1.6e-01  3.5e-01  4.1e-01  3.0e+01  2.9e-01  1.1e+02
4           5.2e-01  9.8e-01  4.9e-01  3.0e+01  4.8e-01  1.2e+02
5           6.8e-02  1.1e-01  9.9e-01  3.1e+01  6.1e-01  1.2e+02
6           1.0e+00  9.4e-01  9.2e-01  3.0e+01  9.2e-01  1.3e+02
7           6.9e-01  2.8e-01  9.6e-01  3.0e+01  9.5e-01  1.2e+02
8           5.7e-01  4.3e-01  3.0e-01  3.0e+01  5.0e-01  1.2e+02
9           8.7e-01  2.4e-01  2.6e-01  3.1e+01  4.0e-02  1.2e+02
10          1.5e-01  5.1e-01  6.1e-01  3.0e+01  8.7e-01  1.2e+02

In [55]:
txt = """Le koala a une fourrure laineuse marron-gris argenté, qu'il entretient régulièrement, ce qui permet à l'eau de pluie de perler comme sur le plumage d'un canard. Cette couleur lui permet de passer inaperçu parmi les branches d'eucalyptus1. Les poils des oreilles forment des franges blanches. La fourrure plus dense du postérieur sert aussi de coussin aux koalas.

La fourrure compte 55 poils par mm². Celle du dos couvre 77 % de son corps, contre 13 % pour celle du ventre. La longueur des poils et leur densité dépend de la saison, avec une diminution en été. Moins épaisse et moins foncée chez les individus des régions plus chaudes, la fourrure joue un rôle d'isolation thermique important. Même par fort vent froid, sa capacité ne baisse que de 14 %, niveau comparable à celui de la faune arctique.

Il existe des mutations génétiques affectant la coloration de la fourrure. Quelques rares koalas sont albinos : en l'absence de mélanine, ils n'ont qu'un léger marquage doré sur un pelage presque blanc, des yeux rouges et le nez rose2. Très rarement également, les koalas peuvent avoir une fourrure blanche en raison d'un leucistisme : ils ont une fourrure blanche mais le nez et les yeux sont pigmentés normalement3."""

In [111]:
words = txt.lower().split()
words = [w.strip(",").strip(".").strip(":") for w in words] # On retire les virgules
words = [w.split("'") for w in words] # On retire les apostrophes
words = pd.DataFrame(words).stack().values

letters = set(list("abcdefghijklmnopqrtsuvwxyzçéèàêîû-ô"))
words2 = []
rejected_words = []
for word in words:
    wletters = list(word)
    if len(set(wletters) - letters) != 0:
        rejected_words.append(word)
    else:
        words2.append(word)
rejected_words

['eucalyptus1',
 '55',
 'mm²',
 '77',
 '%',
 '13',
 '%',
 '14',
 '%',
 'rose2',
 'normalement3']

In [152]:
data = pd.DataFrame({"words" : words2})
stats = data.words.value_counts()
#stats =({"word": stats.index.values.flatten(), "count": data.values.flatten()})
stats  = pd.DataFrame(stats)
stats.columns =  ["count"]
stats["word"] =  stats.index.values
stats.reset_index(inplace = True)
stats = stats[["word", "count"]]
stats

              word  count
0               de     10
1               la      8
2         fourrure      7
3              des      6
4               un      5
5              les      5
6                d      4
7               le      4
8              une      4
9               et      4
10              en      3
11           poils      3
12          koalas      3
13              du      3
14           celle      2
15              qu      2
16               l      2
17               à      2
18         blanche      2
19          permet      2
20             ils      2
21            plus      2
22             sur      2
23            sont      2
24             ont      2
25           moins      2
26             nez      2
27             par      2
28            yeux      2
29              il      2
..             ...    ...
101           pour      1
102       quelques      1
103          celui      1
104         pelage      1
105      individus      1
106       blanches      1
107      important      1
108     comparable      1
109        franges      1
110             ce      1
111           sert      1
112       marquage      1
113      affectant      1
114  régulièrement      1
115           très      1
116          aussi      1
117         dépend      1
118         contre      1
119    marron-gris      1
120         niveau      1
121       branches      1
122           doré      1
123           mais      1
124       laineuse      1
125         rouges      1
126       mélanine      1
127             ne      1
128          blanc      1
129     coloration      1
130           même      1

[131 rows x 2 columns]

In [86]:
",rrrtttt".strip(",")

'rrrtttt'

In [97]:
words3 = [w.split("'") for w in words] # On retire les apostrophes
pd.DataFrame(words3).stack().values

AttributeError: 'numpy.ndarray' object has no attribute 'as_list'

In [168]:
truc = float(input("Votre age :"))

Votre age :450

In [169]:
truc

450.0